<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!-- LogLevel 1 - Verbose, but still -->
    <add key="LogLevel" value="1" />

    <!-- Run every 30 seconds, looking for cities to visit -->
    <add key="TimerDuration" value="60" /> 

    <!-- Run right away! -->
    <add key="StartAt" value="18:15:00"/>

    <!-- Iterate, don't execute just once -->
    <add key="RunOnce" value="False"/>

    <!-- Add compulsory wait-time irrespective of run -->
    <add key="ForceInterval" value="False"/>

    <!-- MySQL parameters -->
    <add key="Endpoint" value="$$MYSQL_ENDPOINT$$"/>
    <add key="Database" value="$$MYSQL_DATABASE$$"/>
    <add key="Login" value="$$MYSQL_LOGIN$$"/>
    <add key="Password" value="$$MYSQL_PASSWORD$$"/>

  </appSettings>
</configuration>